In [3]:
import pandas as pd

In [4]:
df = pd.read_pickle("../data/dair-ai-emotions/merged_training.pkl")
df

                                                     text emotions
27383   i feel awful about it too because it s my job ...  sadness
110083                              im alone i feel awful  sadness
140764  ive probably mentioned this before but i reall...      joy
100071           i was feeling a little low few days back  sadness
2837    i beleive that i am much more sensitive to oth...     love
...                                                   ...      ...
566     that was what i felt when i was finally accept...      joy
36236   i take every day as it comes i m just focussin...     fear
76229       i just suddenly feel that everything was fake  sadness
131640  im feeling more eager than ever to claw back w...      joy
64703   i give you plenty of attention even when i fee...  sadness

[416809 rows x 2 columns]

In [5]:
dataset_list = df["text"].values[:40000].tolist()

In [6]:
len(max(dataset_list, key=len))

112

In [8]:
from transformers import pipeline

translation_checkpoint = "sdadas/flan-t5-base-translator-en-pl"

generator = pipeline("translation_en_to_pl", model=translation_checkpoint)

In [13]:
translated_list = []
for index, sentence in enumerate(dataset_list):
  print(index)
  translated = generator(sentence, max_length=512)
  translated_text = translated[0]["translation_text"]
  translated_list.append(translated_text)

0
1

In [14]:
dataset_list[:5]

['i feel awful about it too because it s my job to get him in a position to succeed and it just didn t happen here',
 'im alone i feel awful']

In [15]:
translated_list[:5]

['Też czuję się z tym okropnie, bo moim zadaniem jest zapewnić mu pozycję do osiągnięcia sukcesu, a to po prostu nie wydarzyło się tutaj.',
 'Jestem sama czuję się okropnie']

In [ ]:
new_df = df[:40000]
new_df['text_pl'] = translated_list
new_df

In [18]:
new_df.to_json(r'../data/translated/emotions/emotions_dataset_pl.json')

In [19]:
data_df = pd.read_json('../data/translated/emotions/emotions_dataset_pl.json')
data_df

,text,emotions,text_pl
27383,i feel awful about it too because it s my job ...,sadness,"Też czuję się z tym okropnie, bo moim zadaniem..."
110083,im alone i feel awful,sadness,Jestem sama czuję się okropnie